# no spyder .cache or other bookkeeping files
.spyderproject
.spyderworkspace
*.cache
*.egg-info
_build
_static
_templates

# no compliled/visualstudio files either
*.pyc
__pycache__
*.vs
build
dist

#no ~ files from emacs either
*~